.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    filter: invert(100%);
  }
  