<!-- About-Bereich mit einheitlichen Klassen -->
<section id="about" class="section section--about parallax">
    <div class="spacer-lg"></div>
    <div class="section__inner container">
      <!-- Hauptüberschrift -->
      <h1 class="section__title">About</h1>
      <div class="spacer-lg"></div>
  
      <!-- Side-by-Side Inhalte -->
      <div class="section__content row">
        <!-- Acknowledgments -->
        <div class="col-md-6 text-muted-light">
          <h3 class="text-light">Acknowledgments</h3>
          <p>
            This work was partially supported by the German Research Foundation (DFG) within the priority
            program “Scalable Interaction Paradigms for Pervasive Computing Environments” (SPP2199), by the Klaus
            Tschira Foundation within the graduate school “Empowering Digital Media” at the University of Bremen,
            and by the Research Initiative of Rhineland-Palatinate within the priority area “AI Enhanced Cognition
            and Learning” and the graduate program “Cognitive Dynamics” both at RPTU Kaiserslautern.
          </p>
        </div>
        <!-- What is SpiderClip -->
        <div class="col-md-6 text-muted-light">
          <h3 class="text-light">What is SpiderClip?</h3>
          <p>
            Smartwatches and fitness trackers integrate different sensors from inertial measurement units to heart
            rate sensors in a very compact and affordable form factor. This makes them interesting and relevant
            research tools. One potential application domain is virtual reality, e.g., for health-related
            applications such as exergames or simulation approaches. However, commercial devices complicate and
            limit the collection of raw and real-time data, suffer from privacy issues and are not tailored to
            using them with VR tracking systems. We address these issues with an open source design to facilitate
            the construction of VR-enabled wearables for conducting scientific experiments.
          </p>
        </div>
      </div>
    </div>
  </section>
  