<!-- src/components/about.html -->
<section id="about" class="section section--about parallax-section">
  <div class="spacer-lg"></div>

  <div class="section__inner container">
    <h1 class="section__title">About</h1>
    <div class="spacer-lg"></div>

    <div class="section__content row">
      <div class="col-md-6 text-muted-light">
        <h3 class="text-light">Acknowledgments 🤝</h3>
        <div class="spacer-sm"></div>
        <p>
          This work was partially supported by the German Research Foundation&nbsp;(DFG)
          within the priority program “Scalable Interaction Paradigms for
          Pervasive Computing Environments” (SPP2199), by the Klaus Tschira
          Foundation within the graduate school “Empowering Digital Media” at the
          University of Bremen, and by the Research Initiative of
          Rhineland-Palatinate within the priority area “AI Enhanced Cognition and
          Learning” and the graduate program “Cognitive Dynamics” both at
          University of Kaiserslautern-Landau.
        </p>
      </div>

      <div class="col-md-6 text-muted-light">
        <h3 class="text-light">What is SpiderClip? ℹ️</h3>
        <div class="spacer-sm"></div>
        <p>
          SpiderClip was co-developed by the Serious Games Engineering research
          group at University of Kaiserslautern-Landau. This open-source
          framework for VR wearables has underpinned a variety of HCI and
          exergame studies—from real-time sensor integration to extensive
          usability evaluations in virtual-reality fitness environments.
        </p>
        <p>
          Its modular architecture enables researchers and developers to rapidly
          prototype new devices, capture raw data in real time, and seamlessly
          integrate with leading VR tracking systems.
        </p>
        <p>
          Enjoy exploring SpiderClip—and feel free to get in touch with feedback
          or collaboration ideas!
          <br><br>
          Kind regards,<br>
          <strong>Dirk</strong>
        </p>
      </div>
    </div>
  </div>
</section>
