<section id="communication" class="section section--communication parallax-section">

    <!-- Überschrift -->
    <div class="container position-relative" style="z-index:2;">
      <div class="row mb-5">
        <div class="col-12 text-center text-light" style="margin-top:40px;">
          <h1 class="heading-bg text-white fw-bold" style="padding:20px; text-align:center">
            Communication Interface
          </h1>
        </div>
      </div>
      <div class="row mb-5">
        <p class="text-muted mt-2" style="max-width:700px; margin:0 auto; text-align:center;">
          Das VR-Wearable wird auf Applikationsebene in Unity integriert und visualisiert Daten direkt in der Scene.
        </p>
      </div>
    </div>
  
   
  </section>
  