<section id="hero" class="hero parallax">
  <!-- Video als Hintergrund -->
  <video
    class="hero__video"
    src="videos/VR_Wearable_Teaser.mp4"
    autoplay
    muted
    loop
    playsinline
  >
    Dein Browser unterstützt keine Videos.
  </video>

  <!-- Gradient-Overlay -->
  <div class="hero__overlay"></div>

  <div class="hero__content">
  <div class="hero__content">
  <div>
    <!-- nur der Title-Wrapper bleibt groß -->
    <div class="hero__title-box">
      <h1 class="hero__title">
        🎮 Open Source Framework for<br>
        <span class="hero__highlight">Wearable Device Simulation</span> in VR
      </h1>
    </div>

    <!-- Author-Hinweis jetzt außerhalb der Title-Box -->
    <p class="hero__author">
      (by Dirk Queck, Iannis Albert, Nicole Burkard, Georg Volkmar, Bastian Dänekas, Rainer Malaka & Marc Herrlich)
    </p>

  </div>
</div>

</div>

<!-- Am Ende von hero.html, direkt vor dem schließenden </section> -->
<a href="#about" class="scroll-down">
  <svg class="scroll-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path fill="currentColor" d="M12 16l-6-6h12z"/>
  </svg>
  <span class="scroll-text">Scroll Down</span>
</a>


</section>
