<section id="vr-wearable" class="section section--vr-wearable parallax-section">

  <!-- Überschrift -->
  <div class="container position-relative" style="z-index:2;">
    <div class="row mb-5">
      <div class="col-12 text-center text-light" style="margin-top:40px;">
        <h1 class="heading-bg text-white fw-bold" style="padding:20px; text-align:center">
          VR-Wearable
        </h1>
      </div>
    </div>
    <div class="row mb-5">
      <p class="text-muted mt-2" style="max-width:700px; margin:0 auto; text-align:center;">
        The VR wearable is integrated into Unity at the application layer and visualizes data directly within the scene.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-9">
      <div class="threejs-wrapper">
        <div id="threejs-canvas-vr-wearable" class="threejs-canvas"></div>
      </div>
    </div>
  </div>

  <div class="container mt-5 position-relative" style="z-index:2;">
    <p class="text-muted mt-2" style="max-width:700px; margin:0 auto; text-align:left;">
      To integrate with Unity, we use the official <strong>SteamVR Plugin</strong> from the Unity Asset Store. It
      provides all
      the necessary APIs for Valve Index and HTC Vive tracking, ensuring seamless positional tracking within the Unity
      scene.
      You can find it here:
      <a href="https://assetstore.unity.com/packages/tools/integration/steamvr-plugin-32647" class="gradient-link"
        target="_blank">
        SteamVR Plugin (Asset Store)
      </a>.
    </p>

    <p class="text-muted mt-2" style="max-width:700px; margin:2rem auto 0; text-align:left;">
      In addition, the <strong>VR-Wearable SDK</strong> provides all the building blocks for rendering and controlling
      SpiderClip
      in Unity. It includes C# scripts, prefabs, and demo scenes, and is available as an open-source project on
      GitHub:
      <a href="https://github.com/D-Queck/vr-wearable-sdk" class="gradient-link" target="_blank">
        VR-Wearable SDK (GitHub)
      </a>.
    </p>
  </div>

</section>