// src/css/modules/_sections.scss
@use '../base/variables' as vars;
@use '../base/typography' as typo;

.section {
  position: relative;
  border-radius: 30px;
  background-size: cover;
  overflow: hidden;
  padding: vars.$spacing-lg 0;

  &__inner {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__title {
    @extend .heading-bg;       // Hintergrund unter der Überschrift
    color: white;
    font-weight: bold;
    margin-bottom: vars.$spacing-md;
    padding: vars.$spacing-sm vars.$spacing-md;
    
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    position: relative;
    z-index: 3;
  }

  &__subtitle {
    max-width: 700px;
    margin: 0 auto vars.$spacing-lg;
    color: vars.$color-muted-light;
    font-size: 1.125rem;
  }

  &__content {
    margin-top: vars.$spacing-md;
  }

  &--about {
    background: url('../images/Background-About.png') no-repeat center center;
    background-size: cover;
    min-height: 800px;
  }

  &--system {
    background: url('../images/Background-System.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  }

  &--hardware {
    background: url('../images/Background-Hardware.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  }

  &--resources {
    background: url('../images/Background-About.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
  }
}
